/* Added a basic root and three colors for the entire page to make the styling easier. Used a color generator on web3. */

:root {
    --main: #4dff4d;
    --backup: #8080ff;
    --accent: #ff6666;  
}

/* Added a univeral selector and changed these three properties to remove the default origins of the entire stylesheet */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Targeted the entire body of the webpage and changed the font, color, and background color to just some simple colors. */

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--main);
    background-color: var(--backup);

}
/* Header Section. Set the background color for the entire section, then set all of the boxes to flex and space between so that they they are spaced evenly across the section.
    Added flex-wrap here so that as the window adjusts the h1 content moves below the header div content.*/

header {
    background-color: var(--backup);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
/* created a box shadow for the div element around my name to add some pop to page. */

header div {
    box-shadow: 3px 3px 5px;
}
/* targeted the h1 element within the header and set the font size according to what looks best on the page. I also added the color and border for my box shadow here. */

header h1 {
    color: var(--main);
    font-size: 60px;
    font-weight: bold;
    background-color: var(--backup);
    padding: 10px;
    border: 5px solid var(--accent);    
}
/* Default had all of my a tags set with an underline, added text-decoration:none to remove that. Set the color so the text was not hidden by the background-color */

header a{
    text-decoration: none;
    color: var(--main);
}
/* targeted the nav and li tags to remove the periods with list-style:none */

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav {
    margin: 20px;
}
/* Targeted each link in the header in order to space each box evenly across the right side of the header. */

header nav ul li a {
    padding: 18px;
    font-size: 38px;
    margin: 20px 20px 0 0;
    font-weight: bold;
}
/* Targeted just the nav tag (as well as all of the content within it) and added a hover effect so that when the cursor moves over each one it changes the backgrond 
    and text color. ALso added a border radius to all of them so background is rounded. Just though that they looked neater this way.  */

header nav ul li a:hover {
    background: var(--accent);
    color: var(--backup);
    border-radius: 35px;
}

/* Hero Section. Targeted the entire class and set all of the content to fit what the challenge example looked like for the most part. Also added a background image.  */

.hero {
    background-image: url("../assets/hero-image.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* This is the picture of myself I added. Added a border-radius to make it look a bit cleaner. */

.hero img  {
    height: 400px;
    margin-right: 900px;
    border-radius: 15px;
}
/* Targeted the short bio I wrote and made it look as neat as possible on the background image. */

  .hero .hero-text {
    font-size: 35px;
    display: flex;
    justify-content: end;
    text-align: right;
    color: var(--accent);
    
}

.hero #aside-text {
    font-size: 48px;
}

/* Targeted the title classes of each title to set a border between the titles and content of the sections. */

.title {
    border-right: 5px solid var(--accent);
    min-height: 100%;
    text-align: right;
    padding-right: 40px;
    min-width: 20%;
    max-width: 20%;
}

.title h2 {
    font-size: 48px;
}
/* About Me section. Just made everything look neat with in the section. */

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
    color: var(--main);
}

.about-me p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
    width: 90%;
    color: var(--main);
}
/* this span was only used to italicize the movie title I included in my paragraph */

.about-me span {
    font-style: italic;
}

/* My work section. */

.my-work {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--backup);
}

.my-work h2 {
    color: var(--main)
}

/* Created a grid in the section just like the challenge example image. This portion of code just sets all of the boundaries that I wanted for the entire My Work section. */

.project-grid-mywork {
    width: 70%;
    height: 500px;
    display: flex;
    justify-content: start;
    margin-right: 230px ;
}
/* Here is where I actually created the grid within the section to stage where I put each individual project in. */

.projects-mywork {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
}

/* In the html file I put a space between project and each project-number. That way here I could target all of the boxes within my grid and create borders around them all.
    Changed the color of the borders, and added opacity just like the challenge example image. */

.project {
    border: solid;
    color: var(--main);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: 0.65;
}

/* added the hover so when the cursor moves over any of the projects it removes the opacity. */

.project:hover {
    opacity: 1.0;
}

/* Here is where I targeted each individual project and added background images for them all */

.number-1 {
    grid-column: 1/3;
    grid-row: span 2;
    background-image: url("../assets/project-1.jfif");
    }

.number-2 {
    background-image: url(../assets/project-2.jfif);   
}

.number-3 {
    background-image: url(../assets/project-3.jfif);    
}

.number-4 {
    background-image: url(../assets/project-4.jfif);
    
}

.number-5 {
    background-image: url(../assets/project-5.jfif);

}

.project-title {
    background-color:var(--accent);
    color: var(--main);
    padding: 1px;
}

/* Footer Section. It is almost identical to the header section.  */
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    margin-bottom: 30px;
}

.content-wrapper{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-list {
    width: 60%;
}

footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 30px;
    font-weight: bolder;
}

footer ul li {
    font-weight: bold;
}

footer ul li a  {
    text-decoration: none;
    color: var(--main);
    padding: 20px;
    font-weight: bold;
}

footer ul li a:hover {
    background: var(--accent);
    color: var(--backup);
    border-radius: 35px;
}
/* Here is where I added all of the code for my custom so that portfolio adapts when the page is resized or used on various devices it adapts. */

@media  screen and (max-width: 768px) {
    .hero .hero-text {
        font-size: 28px;
        padding-right: 20px;
    }
    .hero .hero-text #aside-text {
        font-size: 35px;
    }
    .title h2 {
        font-size: 35px;
    }
    .about-me p {
        font-size: 16px;
        line-height: 1.6;
    }
}

@media screen and (max-width: 575px) {
    header {
        justify-content: center;
        padding: 20px;
    }

    header nav ul {
        min-height: 80px;
    }

    .hero {
        flex-direction: column;
    }

    .about-me {
        flex-direction: column;
    }
    
    .title {
        border-bottom: 5px solid var(--accent);
        border-right: none;
        text-align: center;
        min-width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .about-me p {
        font-size: 16px;
        line-height: 1.6;
        width: 100%;
        padding: 15px;
    }

    .my-work {
        flex-direction: column;
        padding: 30px 0;
    }

    .project-grid-mywork {
        width: 100%;
        padding: 10px;
    }

    .projects-mywork {
        width: 80%;
    }

    footer {
        flex-direction: column;
    }

    footer ul {
        flex-direction: column;
    }

    .content-wrapper {
        width: 100%;
    }

    footer ul li {
        padding: 10px;
        text-align: center;
    }
    
}
